.nav-bar {
  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}
.nav-bar img {
  position: absolute;
  /* mix-blend-mode: multiply; */
  width: 35.85px;
  height: 42.22px;
  left: 55px;
  top: 18.76px;
  background: #ffffff;
  border-radius: 2.85781px;
}
.pp {
  position: absolute;
  width: 213px;
  height: 23.7px;
  left: 103px;
  top: 10.61px;
  font-family: "Gilroy-Bold";
  font-size: 18.7544px;
  line-height: 22px;
  color: #444bab;
}
.lp {
  position: absolute;
  width: 115px;
  height: 19px;
  left: 424px;
  top: 17.61px;
  display: inline;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 16px;
  color: #4f516b;
}
#drop-down {
  display: inline;
  position: absolute;
  left: 86px;
  right: 20.83%;
  top: 30.5%;
  bottom: 33.33%;
  height: 8px;
  width: 10px;
  /* border: 1.5px solid #4F516B; */
}
.ss {
  left: 579px;
}
.hfu {
  left: 719px;
}
.cp {
  left: 851px;
}
.blogs {
  left: 1025px;
}
.ent {
  left: 1116px;
}
.li {
  left: 1216px;
  font-family: "Gilroy-bold";
  color: #444bab;
  font-weight: bold;
  font-size: 15px;
}
.trial-btn {
  position: absolute;
  width: 189px;
  height: 40px;
  left: 1305px;
  top: 17.61px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(91.41deg, #444bab 0%, #3aa2c1 99.71%);
  border-radius: 6px;
}
.trial-btn:hover {
  cursor: pointer;
  background: linear-gradient(91.41deg, #3aa2c1 0%, #444bab 99.71%);
}
.bat {
  position: absolute;
  width: 641px;
  height: 170px;
  left: 123px;
  top: 113px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 149.8%; /*90px*/
  color: #444557;
}
.se {
  position: absolute;
  /* width: 641px;
    height: 170px; */
  left: 123px;
  top: 175px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 149.8%; /*90px*/
  /* color: linear; */
  background: linear-gradient(to right, #444bab 20.29%, #3aa2c1 79.71%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: calc();
  /* color: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%); */
}
.rect {
  position: absolute;
  width: 285px;
  height: 489px;
  top: 143px;
  left: 1245px;
  background: linear-gradient(
    180deg,
    #444bab 0%,
    rgba(99, 167, 211, 0.265625) 73.44%,
    rgba(110, 200, 225, 0) 100%
  );
}
.form-box {
  box-sizing: border-box;
  position: absolute;
  width: 443px;
  height: 433px;
  top: 200px;
  left: 930px;
  background: #ffffff;
  border: 3px solid rgba(174, 178, 203, 0.22);
  border-radius: 8px;
}
.top {
  position: absolute;
  width: 239px;
  height: 21px;
  left: 106px;
  top: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.8%;
  text-align: center;
  color: #4f516b;
}
.main-head {
  position: absolute;
  left: 90px;
  top: 40px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  color: rgba(79, 81, 107, 1);
}
.img {
  position: absolute;
  width: 152px;
  height: 55px;
  cursor: pointer;
}
.ggl {
  top: 280px;
  left: 93px;
}
.mcrsft {
  top: 280px;
  left: 255px;
}
.amzn {
  top: 284px;
  left: 425px;
}
.fpkrt {
  top: 350px;
  left: 93px;
}
.plalt {
  top: 350px;
  left: 255px;
}
.rzrpe {
  top: 350px;
  left: 425px;
}
.amm {
  top: 350px;
  left: 605px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  font-style: italic;
}
.lrng-btn {
  width: 300px;
  height: 46px;
  top: 440px;
  left: 105px;
}
.ofr {
  position: absolute;
  left: 100px;
  top: 516px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 149.8%;
  color: #263238;
}
.ad-lld {
  position: absolute;
  height: 78px;
  width: 100%;
  top: 700px;
  /* justify-content: center; */
  background: linear-gradient(
    180deg,
    #b0dee7 -35.78%,
    rgba(176, 222, 231, 0) 174.51%
  );
}
.mgphn {
  mix-blend-mode: multiply;
  height: 50px;
  width: 50px;
  margin: 15px 0px 0px 510px;
}
.txt {
  position: absolute;
  top: 15px;
  left: 570px;
}
.lpd {
  position: absolute;
  /* left: 694px; */
  top: 797px;
}
.lrnpth {
  left: 694px;
  width: 200px;
  /*top: 917px; */
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 149.8%;
  color: #4f516b;
}
.desc {
  position: absolute;
  width: 882px;
  height: 54px;
  left: 329px;
  top: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  text-align: center;
  color: #505050;
}
.name {
  position: absolute;
  width: 61px;
  height: 30px;
  left: 20px;
  top: 64px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #737171;
}
input {
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  height: 42px;
  left: 20px;
  top: 118px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}
.email {
  top: 150px;
}
.emalinpt {
  top: 205px;
}
.phnNum {
  top: 245px;
  width: 150px;
}
.nmbrinpt {
  top: 305px;
}
.bacn-btn {
  width: 400px;
  height: 42px;
  top: 370px;
  left: 20px;
}
.courses {
  position: absolute;
  /* background-color: #263238; */
  height: 500px;
  width: 90%;
  left: 90px;
  top: 1030px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f1{
    position: absolute;
    width: 290px;
    height: 50px;
    left: 115px;
    top: 1100px;
    z-index: 1;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 0px 29px 20px #111111;
}
.f2{
    left: 545px;
    top: 40px;
}
.f3{
    top: 40px;
    left: 1050px;
}
.renaissance {
  /* background-color: #3AA2C1; */
  height: 540px;
  width: 340px;
  border: 1px solid #ccc4c4;
  border-radius: 7px;
}
/* .Low-lvl-dsgn{
    background-color: #3AA2C1;
    height: 400px;
    width: 340px;
}
.c-progrmng{
    background-color: #3AA2C1;
    height: 400px;
    width: 340px;
} */
.img1 {
  width: 340px;
}
.data {
  position: relative;
  left: 20px;
  width: 300px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 149.8%;
  color: #4f516b;
}
.metadata {
  position: relative;
  left: 20px;
  width: 300px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616161;
}
.knwMr {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  top: 30px;
  left: 20px;
  line-height: 149.8%;
  color: #444bab;
}
.knwMr:hover {
  font-size: 21px;
}
.impact {
  position: absolute;
  width: 116px;
  height: 30px;
  left: 669px;
  top: 1638px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 149.8%;
  text-align: center;
  color: #444bab;
}
.lwdo {
  position: absolute;
  width: 588px;
  height: 44px;
  left: 419px;
  top: 1654px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 149.8%;
  text-align: center;
  color: #444557;
}
.stats {
  position: absolute;
  /* background-color: #263238; */
  top: 1810px;
  height: 90px;
  width: 76%;
  left: 200px;
  display: flex;
  justify-content: space-between;
}
.values {
  /* background-color: #3AA2C1; */
  height: 70px;
  width: 150px;
}
.num {
  position: absolute;
  width: 149px;
  height: 60px;
  /* top: 14px; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 149.8%;

  /* text-align: center; */

  background: linear-gradient(
    180deg,
    #3e8ebc 0%,
    #407ab7 57.29%,
    #444bab 70.31%,
    rgba(67, 81, 172, 0.912281) 82.81%,
    rgba(62, 142, 188, 0) 100%,
    rgba(62, 142, 188, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.lpa {
  left: 55px;
}
.disc {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 15px;
  top: 35px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 149.8%;
  /* identical to box height, or 30px */

  /* text-align: center; */

  color: #4f5062;
}
.avginc {
  left: 300px;
  width: 200px;
}
.stdenrld {
  left: 650px;
}
.stdrev {
  left: 970px;
}
.ofering {
  position: absolute;
  top: 2000px;
  width: 200px;
  left: 634px;
}
.ororg {
  top: 2060px;
  left: 435px;
}
.fcu {
  position: absolute;
  top: 2270px;
  left: 130px;
  width: fit-content;
  display: flex;
}
.heading {
  position: absolute;
  width: 653px;
  height: 45px;
  left: 577px;
  top: 56px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 149.8%;
  color: #4f516b;
}
.dta {
  position: absolute;
  width: 653px;
  height: 57px;
  left: 577px;
  top: 116px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  color: #505050;
}
.nomr-btn {
  position: absolute;
  left: 577px;
  top: 236px;
  height: 40px;
  width: 150px;
  background-color: transparent;
  border-radius: 6px;
  /* border-image: linear-gradient(#444BAB 0%, #3E8EBC 100%),10; */
  /* background: linear-gradient(180deg, #444BAB 0%, #3E8EBC 100%); */
}
.hfus {
  position: absolute;
  top: 2650px;
  display: flex;
  background-color: #263238;
}
.info {
  position: absolute;
  left: 120px;
}
.one {
  position: absolute;
  left: 10px;
}
.meet {
  position: absolute;
  left: 947px;
}
.nomr-btn:hover {
  background: linear-gradient(to right, #444bab 20.29%, #3aa2c1 79.71%);
  color: #ffffff;
}
.wrkgalmn {
  position: absolute;
  height: 300px;
  width: 85%;
  top: 3122px;
  left: 120px;
  display: flex;
  /* background-color: #263238; */
}
.alumni {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 600;
  top: 50px;
  color: #444bab;
  line-height: 150%;
}
.cdjb {
  position: absolute;
  height: 186px;
  width: 611px;
  font-size: 17px;
  font-family: "Poppins";
  color: #263238;
  font-weight: 400;
  line-height: 150%;
}
.join {
  width: 633px;
  height: 158px;
  left: 124px;
  /* top: 20px; */
  /* top: 3560px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 149.8%;
  /* or 54px */
  color: #4f516b;
}
.gl {
  left: 700px;
}
.az {
  left: 929px;
}
.ms {
  left: 1170px;
}
.adb {
  height: 40px;
  top: 100px;
  left: 700px;
}
.rp {
  top: 100px;
  left: 929px;
}
.fk {
  top: 100px;
  left: 1170px;
}
.hs {
  top: 200px;
  left: 700px;
}
.wm {
  top: 200px;
  left: 929px;
}
.zg {
  top: 200px;
  left: 1170px;
}
.ola {
  top: 300px;
  left: 700px;
}
.mn {
  top: 300px;
  left: 929px;
}
.bp {
  top: 300px;
  left: 1170px;
}
.gldscs {
  top: 400px;
  left: 700px;
}
.zest {
  top: 400px;
  left: 929px;
}
.oyo {
  top: 400px;
  left: 1170px;
}
.sccs {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 683px;
  top: 3772px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 149.8%;
  /* identical to box height, or 30px */

  text-align: center;

  color: #444bab;
}
.feed {
  position: absolute;
  width: 574px;
  height: 54px;
  left: 489px;
  top: 3800px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 149.8%;
  /* identical to box height, or 54px */

  text-align: center;

  color: #4f516b;
}
.stories-container {
  position: absolute;
  height: 200px;
  width: 65%;
  top: 3930px;
  left: 260px;
  display: flex;
  /* background-color: #263238; */
}
.photo-frame {
  position: absolute;
  /* background-color: #3AA2C1; */
  height: 171px;
  width: 171px;
  top: 30px;
  border-radius: 50%;
}
.qts {
  position: absolute;
  left: 220px;
}
.tday {
  position: absolute;
  width: 603px;
  height: 75px;
  left: 315px;
  top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  /* or 27px */
  color: #000000;
}
.name2 {
  position: absolute;
  left: 315px;
  width: 200px;
  top: 130px;
  color: #000000;
  font-weight: 600;
}
.designation {
  position: absolute;
  left: 315px;
  width: 200px;
  top: 160px;
}
#Amazon {
  position: absolute;
  height: 45px;
  width: 85px;
  top: 185px;
  left: 45px;
}
.dots {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 4180px;
  display: flex;
  justify-content: center;
  /* background-color: #000000; */
}
.dots > div {
  margin: 5px 15px 5px 15px;
}
.rms-btn {
  top: 4290px;
  width: fit-content;
  justify-content: center;
  padding: 0px 25px 0px;
  left: 680px;
  font-size: 15px;
}
.orlt {
  position: absolute;
  top: 4440px;
  left: 675px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 149.8%;
  text-align: center;

  color: #444bab;
}
.tghwmad {
  position: absolute;
  top: 4500px;
  width: 572px;
  height: 54px;
  left: 461px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 149.8%;
  text-align: center;
  color: #4f516b;
}
.leader-container {
  position: absolute;
  top: 4650px;
  width: 100%;
  height: 585px;
  /* display: flex; */
  /* padding: 0px 50px 0px 50px; */
  background: linear-gradient(
    96.55deg,
    rgba(62, 142, 188, 0.62) 0%,
    rgba(63, 126, 184, 0.536146) 30.88%,
    rgba(65, 106, 179, 0.429948) 84.64%,
    rgba(67, 81, 173, 0.301779) 99.02%,
    rgba(68, 75, 171, 0.67) 102.21%
  );
}
.box {
  position: absolute;
  background-color: #ffffff;
  height: 400px;
  width: 310px;
  margin: 130px 0px 50px 0px;
}
.anand {
  left: 146px;
}
.profilepic {
  position: absolute;
  border-radius: 74px;
  height: 137px;
  width: 138px;
  left: 77px;
  top: -89px;
  border: 1px solid #dfdddd;
  background: aliceblue;
}
#p {
  position: absolute;
  width: 147px;
  height: 20px;
  left: 87px;
  top: 56px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  color: #272834;
}
.design {
  position: absolute;
  top: 88px;
  color: #877f7f;
  left: 62px;
  font-weight: 400;
  font-size: 12px;
}
#cntnt {
  position: absolute;
  width: 266px;
  height: 230px;
  left: 23px;
  top: 122px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 145.8%;
  text-align: center;
  color: #505050;
}
.social {
  position: absolute;
  top: 350px;
  display: flex;
  height: 40px;
  width: 310px;
  justify-content: center;
}
.lnkdn {
  height: 25px;
  width: 25px;
  padding: 0px 10px 0px 0px;
}
.twtr {
  height: 25px;
  width: 25px;
}
.bharat {
  left: 620px;
}
.bharat #cntnt {
  line-height: 125.8%;
}
.anoop {
  left: 1080px;
}
.anoop #p {
  left: 105px;
}

.contribute {
  position: absolute;
  display: flex;
  /* background-color: #000000; */
  height: 300px;
  width: 90%;
  top: 5350px;
  left: 150px;
}
.mentor {
  height: 300px;
  width: 730px;
  /* background-color: #272834; */
}
#cntribt {
  color: rgba(68, 75, 171, 1);
  font-weight: 600;
  font-size: 17px;
  font-family: "Poppins";
}
#mntr {
  position: absolute;
  top: 35px;
  font-size: 25px;
  font-weight: 600;
  color: rgba(79, 81, 107, 1);
}
#ctt1 {
  position: absolute;
  top: 100px;
  font-weight: 400;
  height: 100px;
  width: 600px;
}
#ctt2 {
  position: absolute;
  top: 180px;
  font-weight: 400;
  height: 100px;
  width: 600px;
}
.twu-btn {
  top: 250px;
  left: 1px;
}
.mentor-pic {
  height: 350px;
  width: 500px;
  /* background-color: #444bab; */
}
.card {
  position: absolute;
  display: flex;
}
.deepak {
  position: absolute;
  height: 130px;
  width: 135px;
  top: 94px;
  left: -5px;
  border: 1px solid grey;
  border-radius: 18px;
  background: grey;
  z-index: 1;
}
#crd-cntnt {
  height: 254px;
  width: 537px;
  position: absolute;
  /* background: white; */
  /* border-radius: 8px; */
  left: 40px;
  top: 61px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 5px #e6e6ea;
  border-radius: 6px;
}
#crd-cntnt img {
  position: absolute;
}
.qts {
  position: absolute;
  top: 20px;
  left: 120px;
}
.about {
  position: absolute;
  top: 50px;
  left: 170px;
  width: 334px;
  font-size: 15px;
}
.deep {
  position: absolute;
  top: 170px;
  left: 170px;
  font-weight: 800;
}
.expr {
  position: absolute;
  top: 200px;
  left: 170px;
  font-size: small;
  color: #616161;
}
.orblogs {
  position: absolute;
  width: 98px;
  height: 30px;
  left: 700px;
  top: 5789px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 149.8%;
  /* identical to box height, or 30px */

  text-align: center;

  color: #444bab;
}
.inspiration {
  position: absolute;
  width: 685px;
  height: 108px;
  left: 396px;
  top: 5805px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 149.8%;
  text-align: center;
  color: #4f516b;
}
.postd {
  position: absolute;
  width: 715px;
  height: 24px;
  left: 387px;
  top: 5915px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 149.8%;
  /* or 27px */

  text-align: center;

  color: #000000;
}
.lapfnglap{
    position: absolute;
    height: 500px;
    width: 75%;
    left: 200px;
    top: 6010px;
    justify-content: space-between;
    display: flex;
}
.laptop1{
    height: 380px;
    width: 300px;
    margin-top: 30px;
    left: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(132, 144, 199, 0.35)
}
.title{
    margin-left: 25px;
    font-weight: 700;
    font-size: 17px;
    color: #545050;
    
}
.plan{
    height: 200px;
    width: 250px;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    color: rgba(90, 89, 89, 1);
}
.lappy{
    width: 300px;
    height: 220px;
}
.faang{
    height: 450px;
    width: 400px;
    background: #FFFFFF;
    border: 1px solid rgba(132, 144, 199, 0.35)
}
.title2{
    width: 300px;
    line-height: 150%;
    margin-left: 30px;
}
.fang{
    width: 370px;
    /* margin-left: 25px; */
    font-size: 16px;
}
.laptop2{
    height: 380px;
    width: 300px;
    margin-top: 30px;background: #FFFFFF;
    border: 1px solid rgba(132, 144, 199, 0.35)
}
.desktop{
    width: 300px;
}
.office{
    margin-top: -5px;
}
.rmb-btn{
    top: 6550px;
    left: 677px;
    width: fit-content;
    padding: 0px 25px 0px;
    font-size: 15px;
}
.getinTouch{
    position: absolute;
    height: 590px;
    width: 100%;
    top: 6740px;
    display: flex;
    background: rgba(243, 244, 255, 1);
}
.mobilePic{
    width: 530px;
    height: 370px;
    margin: 70px 120px 0px;
}
.touch{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 149.8%;
    text-align: center;
    color: #4F516B;

}
.name3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    color: #000000;
}
.nameInput{
    margin-left: 749px;
    margin-top: 55px;
}
.EmailId3{
    margin-top: 50px;
}
.emailInput{
    margin-left: 749px;
    margin-top: 170px;
}
.queryMsg{
    margin-top: 50px;
}
.messageInput{
    margin-left: 749px;
    margin-top: 290px;
}
.cntct-btn{
    position: absolute;
    top: 500px;
    left: 767px;
}
.makeSuccs{
    position: absolute;
    top: 7400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    left: 600px;
    font-size: 30px;
    line-height: 149.8%;
    text-align: center;
    color: #4F516B;
}
.now{
    position: absolute;
    top: 7490px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    left: 690px;
    font-size: 17px;
    line-height: 149.8%;
    text-align: center;
    color: #444bab;
}
.now-btn{
    top: 7560px;
    left: 715px;
}
.last-container{
    position: absolute;
    top: 7750px;
    height: 400px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #424455;
    box-shadow: inset 0px 6px 5px #EBECFF;
    /* background: yellowgreen; */
}
.left{
    width: 50%;
    margin-top: 40px;
    /* background: #3aa2c1; */
}
.wntknmr{
    position: absolute;
    /* top: 7400px; */
    height: 90px;
    width: 360px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    left: 90px;
    font-size: 25px;
    line-height: 149.8%;
    /* text-align: center; */
    color: #4F516B;
}
.here{
    position: absolute;
    top: 130px;
    /* height: 90px;
    width: 360px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    left: 90px;
    font-size: 15px;
    line-height: 149.8%;
    /* text-align: center; */
    color: #4F516B;
}
.firstlst{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    left: 90px;
    font-size: 15px;
    line-height: 149.8%;
    /* text-align: center; */
    color: rgba(79, 81, 107, 1);
    top: 170px;
    /* left: 90px; */
}
.secondlst{
    left: 260px;
}
.thirdlst{
    left: 450px;
}
.right{
    width: 50%;
    /* background: #263238; */
    margin-top: 40px;
}
.plogo{
    height: 40px;
    width: 40px;
    margin-left: 30px;
}
.ptsla{
    position: absolute;
    top: 30px;
    left: 840px;
    font-weight: 600;
    font-size: 20px;
    color: #444bab;
}
.munh{
    height: 20px;
    width: 368px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 30px;
    /* left: 90px; */
    font-size: 15px;
    line-height: 149.8%;
    /* text-align: center; */
    color: rgba(79, 81, 107, 1);
    /* top: 170px; */
    /* left: 90px*/
}
.follow{
    display: flex;
    height: 60px;
    width: 420px;
    /* background: #000000; */
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 50px;
}
.smedia1{
    height: 40px;
    width: 50px;
}
.smedia2{
    height: 30px;
    width: 50px;
    margin-top: 11px;
}
.smedia3{
    height: 40px;
    width: 20px;
    margin-top: 5px;

}
.smedia4{
    height: 40px;
    width: 40px;
    margin-top: 7px;

}
.smedia5{
    height: 40px;
    width: 40px;
    margin-top: 8px;
}
.chatbutton{
    display: flex;
    height: 50px;
    width: 300px;
    color: white;
    background-color: rgba(58, 63, 142, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 106px 0px 0px 290px;

}
.chatbutton img{
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px; */
    margin:5px 20px ;
}
.rights{
    position: absolute;
    top: 8170px;
    width: 100%;
    text-align: center;
    color: #5d5a5a;
    font-weight: 300;
    padding-bottom: 150px;
}